@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  min-height: 900px;
}
.titleName {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  transition: all 0.3s;
}
.titleName:hover {
  color: orange;
}
.header {
  /* border: 5px solid gold; */
  padding: 5px;
  height: 55px;
  background: lime !important;
  position: relative;
}
#myButton {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  left: calc(98vw - 150px);
  position: absolute;
  border: 1px solid white;
  cursor: pointer;
  background: rgba(0, 125, 203, 1);
  width: 100px;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 1);
  transition: box-shadow 0.2s;
  border-radius: 5px;
}
#myButton:hover {
  box-shadow: 0px 0.442184px 10.23px rgba(255, 86, 246, 1);
  text-shadow: 0px 0.442184px 10.23px rgba(255, 86, 246, 1);
}
.text-color {
  color: orange;
}
.btn {
  /* background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  ); */
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}
a {
  display: flex;
  flex-direction: column;
}
.active {
}
.alink:hover::after {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  background-color: orange;
  transform: scaleX(1);
  transition: transform 500ms ease-in-out;
}
.active:hover::after {
  display: none;
}

a::after {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  border-radius: 2px;
  position: absolute;
  top: 70px;
}
.active::after {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .blinkertxt {
    padding-left: 130px;
  }
  .blinker {
    margin-left: 150px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .blinkertxt {
    padding-left: 50px;
  }
  .blinker {
    margin-left: 60px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .blinkertxt {
    padding-left: 18vw !important;
    width: 88vw;
    padding: 0px;
  }
  .blinker {
    margin-left: 20vw;
    margin-top: 0px;
  }
  .fotome {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .fotomeparent {
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

/* .btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
} */
.nav-link {
  transition: all 1s ease-in-out;
  opacity: 0.5;
  border-radius: 50%;
}

.nav-link.active {
  border-radius: 50%;

  transform: scale(1.2);
  opacity: 1;
}

.active {
  background-color: orange !important;
  opacity: 1;
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.inactive {
  background-color: gold !important;
  opacity: 0;
  color: white;
  transition: opacity 0.5s;
}
@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
